# CSV to XLS
## A python workshop

Start by importing pandas and converting the csv file to xlsx

In [51]:
import pandas as pd

df = pd.read_csv (r'./IRAhandle_tweets_1.csv')

display the first five rows and the last five rows of the dataFrame in jupyter. Each row contains several columns of data.

In [52]:
df

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,9.060000e+17,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,10/1/2017 19:58,10/1/2017 19:59,1052,9636,253,NaN,Right,0,0,RightTroll
1,9.060000e+17,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,10/1/2017 22:43,10/1/2017 22:43,1054,9637,254,NaN,Right,0,0,RightTroll
2,9.060000e+17,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,English,10/1/2017 22:50,10/1/2017 22:51,1054,9637,255,RETWEET,Right,0,1,RightTroll
3,9.060000e+17,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,English,10/1/2017 23:52,10/1/2017 23:52,1062,9642,256,NaN,Right,0,0,RightTroll
4,9.060000e+17,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",Unknown,English,10/1/2017 2:13,10/1/2017 2:13,1050,9645,246,RETWEET,Right,0,1,RightTroll
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381011,1.685173e+09,BLMSOLDIER,"ICYMI, @SabrinaAnnLynn dropped a lyric video f...",United States,English,3/7/2017 0:25,3/7/2017 0:25,694,711,4836,RETWEET,left,0,1,LeftTroll
381012,1.685173e+09,BLMSOLDIER,"WorldStarHipHop Founder Lee ""Q"" O'Denat Dies a...",United States,English,3/7/2017 0:25,3/7/2017 0:25,694,711,4838,RETWEET,left,0,1,LeftTroll
381013,1.685173e+09,BLMSOLDIER,“This world is but a canvas to our imagination...,United States,English,3/7/2017 0:25,3/7/2017 0:25,694,711,4835,RETWEET,left,0,1,LeftTroll
381014,1.685173e+09,BLMSOLDIER,House Republicans release bill that would dism...,United States,English,3/7/2017 0:25,3/7/2017 0:25,694,711,4837,RETWEET,left,0,1,LeftTroll
381015,1.685173e+09,BLMSOLDIER,Retweeted Citizen TV Kenya (@citizentvkenya): ...,United States,English,3/7/2017 10:27,3/7/2017 10:27,694,712,4845,RETWEET,left,0,1,LeftTroll

Now that our data is in a pandas dataFrame object we have alot of options for data manipulation. For example we can use the following syntax to display an index of the rows in the publish_date column.

In [53]:
df['publish_date']

0         10/1/2017 19:58
1         10/1/2017 22:43
2         10/1/2017 22:50
3         10/1/2017 23:52
4          10/1/2017 2:13
               ...
381011      3/7/2017 0:25
381012      3/7/2017 0:25
381013      3/7/2017 0:25
381014      3/7/2017 0:25
381015     3/7/2017 10:27
Name: publish_date, Length: 381016, dtype: object

An index is a dataFrame attribute that we can use to select very specific pieces of information from any number of columns. 

In the following example we will use the `contains()` method of the `str` attribute of the pandas index to select only the rows that that have publish_dates in October.

In [54]:
import re
df = df[df['publish_date'].str.contains('10/[0-9]/2017','10/1[1-2]/2017', regex = True)]

Now because we made df `=` to our selection the new contents of df are just the data that was published in October

In [55]:
df['publish_date']

0         10/1/2017 19:58
1         10/1/2017 22:43
2         10/1/2017 22:50
3         10/1/2017 23:52
4          10/1/2017 2:13
               ...
360434     10/2/2017 6:32
360435     10/2/2017 7:44
360698    10/4/2017 13:32
360699     10/4/2017 6:19
360700     10/4/2017 6:22
Name: publish_date, Length: 1185, dtype: object